@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 10% 23%;
    --foreground: 0 0% 98%;
    --card: 210 10% 28%;
    --card-foreground: 0 0% 98%;
    --popover: 210 10% 23%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 84% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 30%;
    --muted-foreground: 210 5% 64.9%;
    --accent: 262 84% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 35%;
    --input: 210 10% 35%;
    --ring: 262 84% 57%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
